*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width:100%;
    background-color:#f5f5f5;
    height: 1000px;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper .top-nav-wrap{
    width:100%;
    height: 35px;
    background-color: #f5f5f5;
    border:1px solid #eee;
}
.wrapper .top-nav-wrap .top-nav{
    width: 1190px;
    height:35px;
    margin: 0px auto;
    /*border: 1px solid #000000;*/
    
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
    float:left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
    float: right;
}
.wrapper .top-nav-wrap .top-nav li{
    float: left;
    margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav li a{
    color:#6c6c6c;
    font-size:12px;
    line-height:35px;
    padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
    color:#ff4400;

}
.wrapper .top-nav-wrap .top-nav .china{
    color:#3c3c3c;
    font-size:12px;
    line-height:35px;
}
.wrapper .top-nav-wrap .top-nav .china-span{
    padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav .cutOff span{
    color: #ddd;
    line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
    display: inline-block;
    width:10px;
    height: 10px;
    vertical-align: middle;
    background-size: 100% 100%;
    /*border: 1px solid black;*/
}
.wrapper .top-nav-wrap .top-nav .xsjPic{
    background-image: url('img/下三角.png')
}
.wrapper .top-nav-wrap .top-nav .shopCarPic{
    width:15px;
    height: 15px;
    background-image: url('img/购物车.png')
}
.wrapper .top-nav-wrap .top-nav .likePic{
    background-image: url('img/五角星.png');
    height: 12px;
    width: 12px;
}
.wrapper .top-nav-wrap .top-nav .webNavPic{
    background-image: url('img/导航.png');
    height:16px;
    width: 8px;
    vertical-align: -1.2px;
}
/* 页面顶部导航条结束 */
.wrapper .search-wrap{
    width:100%;
    height:97px;
    /*border: 1px solid black;*/
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 9px;
}
.wrapper .search-wrap .search-con{
    width:1190px;
    height: 88px;
    /*border:1px solid black;*/
    margin: 0 auto;
}
.wrapper .search-wrap .search-con .logo-box{
    width: 190px;
    height: 80px;
    /*border: 1px solid black;*/
    display: inline-block;
    vertical-align: middle;
}
.wrapper .search-wrap .search-con .logo-box img{
    width:140px;
    height:60px;
    position: relative;
    top:10px;
    left:25px;
}
.wrapper .search-wrap .search-con .search-box{
    height:87px;
    width:627px;
    /*border:1px solid black;*/
    display: inline-block;
    vertical-align: middle;
    margin-left:50px;
}
.wrapper .search-wrap .search-con .code-box{
    height: 90px;
    width:76px;
    border: 1px solid #eee;
    display: inline-block;
    vertical-align: middle;
    margin-left:120px; 
    position: relative;
}
.wrapper .search-wrap .search-con .code-box .p-tb{
    display:inline-block;
    color:#ff5000;
    text-align: center;
    line-height: 20px;
    margin: 4px auto 0;
    width: 78px;
    font-size:14px;
}
.wrapper .search-wrap .search-con .code-box .close{
    position: absolute;
    top:-1px;
    height:14px;
    width:14px;
    border:1px solid #eee;
    left:-16px;
    line-height:12px;
    text-align: center;
    color:#ddd;
    font-size: 14px;
}
.wrapper .search-wrap .search-con .code-box .code{
    display: inline-block;
    width:62px;
    height:62px;
    background-image: url("img/ewm.png");
    background-size: 100% 100%;
    margin-left: 7px;
}
.wrapper .search-wrap .search-con .search-box .search-bd{
    width:627px;
    height:62px;
    /*border:1px solid green;*/
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab{
    width: 610px;
    height: 22px;
    margin-left: 17px;
    /*border:1px solid white;*/
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab li{
    float:left;
    width:36px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #ff4400;
    margin-right:4px;
    font-size: 12px;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab li:hover{
    background-color: #ffeee5;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab .select{
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color:#fff;
    font-weight: 700;
    border-top-right-radius:6px; 
    border-top-left-radius:6px; 
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel{
    width: 627px;
    height:40px;
    position: relative;
    /*border:1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-bd .btn{
    position: absolute;
    right:0;
    top:0;
    width:74px;
    height: 40px;
    text-align: center;
}
.wrapper .search-wrap .search-con .search-box .search-bd .btn button{
    border:none;
    outline: none;
    background:linear-gradient(to right, #ff9000 0, #ff5000 100%);
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.wrapper .search-wrap .search-con .search-inp-box{
    width:551px;
    height: 36px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow:hidden;

}
.wrapper .search-wrap .search-con .search-inp-box .search-inp{
    width: 472px;
    height:36px;
    overflow:hidden;
}
.wrapper .search-wrap .search-con .search-inp-box .search-inp input{
    width:472px;
    height:24px;
    line-height: 25px;
    border: none;
    outline: 0;
    text-indent: 16px;
    padding: 6px 16px;
    background-color: #fff;

}
.wrapper .search-wrap .search-con .search-panel .sousuo,
.wrapper .search-wrap .search-con .search-panel .camera{
    display: inline-block;
    position: absolute;
}
.wrapper .search-wrap .search-con .search-panel .sousuo{
    width: 16px;
    height: 17px;
    top:11px;
    left:11px;
    background: url('img/放大镜.png') no-repeat;
    background-size:100% 100%;
    /*border:1px solid black;*/
}
.wrapper .search-wrap .search-con .search-panel .camera{
    width:25px;
    height: 23px;
    top:7px;
    right:88px;
    background: url('img/照相机.png') no-repeat;
    background-size:100% 100%;
    /*border:1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-ft{
    width:625px;
    height: 18px;
    /*border:1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li{
    float: left;
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li a{
    font-size: 12px;
    color:#3c3c3c;
    margin-right: 4px;
    line-height: 18px;
}
.wrapper .search-wrap .search-con .search-box .search-ft .more{
    font-size: 12px;
    color:#3c3c3c;
    line-height: 26px;
    float: right;
}
.wrapper .search-wrap .search-con .search-box .search-ft ul .select a,
.wrapper .search-wrap .search-con .search-box .search-ft ul a:hover{
    color: #ff5000;
}
/* 搜索栏部分结束 */
.wrapper .screen-nav-wrap{
    width:100%;
    height: 30px;
    background: linear-gradient(to right,#ff9000 0,#ff5000);
}
.wrapper .screen-nav-con{
    width:1190px;
    height: 30px;
    margin: 0 auto;
    
}
.wrapper .screen-nav-con h2{
    float: left;
    width: 190px;
    height: 29px;
    color: #fff;
    text-align: center;
    font-size:16px;
    line-height: 30px;
    font-weight:600;
    background-color: #ff5000;
}
.wrapper .screen-nav-wrap ul{
    height: 30px;
    float: left;
    margin-left: 8px;
    font-size: 16px;
}
.wrapper .screen-nav-wrap ul li{
    float: left;
    line-height: 30px;
    margin-left: 7px;
    padding: 0 4px;
    margin: 0 3px;
    font-weight: 600;
}
.wrapper .screen-nav-wrap ul li a,
.wrapper .screen-nav-wrap ul li{
    color: #fff;
    text-align: center;
    line-height: 30px;
}
/* 中间导航条部分结束 */
.wrapper .screen-box-wrap{
     width:1190px;
     margin:0 auto;
     /*border:1px solid black;*/
     height:632px;
 }
.wrapper .screen-box-wrap .main{
     float: left;
     width:890px;
     height:632px;
     /*border:1px solid black;*/
 }
 .wrapper .screen-box-wrap .main .main-inner{
     width:720px;
     height:522px;
     /*border:1px solid black;*/
     display: inline-block;
     vertical-align: top;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left{
     height: 522px;
     width: 190px;
     /*border:1px solid green;*/
     float:left;
     background-color: #fff;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left ul{
     border:1px solid #ff5000;
     border-top:none;
     padding-top:5px;
     padding-bottom: 3px;
     font-size: 14px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left ul li{
     height: 32px;
     width:144px;
     line-height: 32px;
     font-weight: 400;
     padding-left:25px;
     padding-right:19px;
     position: relative;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left ul li a{
     color: #666;
     font-size: 14px;
     font-weight: 300;
     /*text-align: */
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left ul li a:hover{
     text-decoration: underline;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover a{
     color: #ff5000;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover{
     background-color: #ffeee5;
     color: #ff5000;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-left ul li span{
     position: absolute;
     display: inline-block;
     right:10px;
     height:8px;
     width: 8px;
     background-image: url('img/右三角.png');
     background-size:100% 100%; 
     top: 40%;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con{
     width: 520px;
     height: 512px;
     /*background-color:  #666;*/
     float:left;
     margin-left: 10px;
     margin-top:10px;  
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box{
     position: relative;
     height: 280px;
     width: 520px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul{
     position: absolute;
     bottom:15px;
     left:50%;
     margin-left:-45px;
     background-color: rgba(255,255,255,.3);
     width: 90px;
     height: 13px;
     border-radius: 7px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li{
     float:left;
     margin: 3px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li a{
     width: 8px;
     height: 8px;
     border-radius: 4px;
     background-color: #fff;
     display: block;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li .select{
     background-color: #ff5000;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall{
     width: 520px;
     height:230px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head{
     width:520px;
     height: 22px;
     border-bottom: 3px solid #ff1648;
     margin-top: 5px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm-pic{
     display:inline-block;
     width:136px;
     height: 20px;
     background-image: url('img/天猫.png');
     background-size: 100% 100%;
     margin-bottom: -5px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm-word{
     color:#666;
     font-size:12px;
     margin-left: 7px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .mall-pic{
     width: 520px;
     height: 201px;
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall img{
     width:251px;
     height: 195px;
     background-size:100% 100%; 
     padding-top:6px; 
 }
 .wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .pic-2{
     margin-left:13px; 
 }
 .wrapper .screen-box-wrap .main .col-middle{
     width:160px;
     height: 512px;
     /* border:1px solid black; */
     display: inline-block;
     vertical-align: top;
     margin-top: 10px;
 }
 .wrapper .screen-box-wrap .main .col-middle h5{
     background: #f1f1f1;
     color: #a1a1a1;
     margin-top: 2px;
     font-size: 12px;
     line-height: 20px;
 }
 .wrapper .screen-box-wrap .main .col-middle .side-pic{
     width: 160px;
    height: 280px;
 }

/* inner-top部分结束 */
.wrapper .screen-box-wrap .main-bottom{
    
    width:884px;
    height: 100px;
    /*border:1px solid black;*/
}    
.wrapper .screen-box-wrap .main-bottom .bottom-con{
    position: relative;
    padding: 14px 14px 12px 20px;
    height:73px;
    margin-top: -1px;
    background-color:#fff;    
}
.wrapper .screen-box-wrap .main-bottom .bottom-con .tbtt-con{
    width:675;
    height:73px;
    position: absolute;
    top:14px;
    left:200px;
}
 .wrapper .screen-box-wrap .main .main-bottom .logo{
    width:180px;
    height: 73px;
    float: left;
 }
 .wrapper .screen-box-wrap .main .main-bottom .logo img{
    width: 80%;
    height: 73px;
 }
 .wrapper .screen-box-wrap .main .main-bottom a img{
    width:130px;
    height: 73px;
    float:left;
 }
 .wrapper .screen-box-wrap .main .main-bottom a h4{
    font-size:16px;
    font-weight:500;
    line-height: 29px;
    color:#333;
    margin-top: 2px;
    margin-left: 144px;
 }
 .wrapper .screen-box-wrap .main .main-bottom a p{
     color:#999;
     line-height: 18px;
     height: 36px;
     overflow: hidden;
     font-size: 14px;
     margin-left: 144px;
 }
 .wrapper .screen-box-wrap .main .main-bottom a h4:hover{
     color:#ff5000;
 }
 .wrapper .screen-box-wrap .col-right{
    width:290px;
    height:620px;
    /*border:1px solid black;*/
    float: right;
    background-color: #fff;
} 
.wrapper .screen-box-wrap .col-right .member{
    width:290px;
    height: 132px;
    padding:3px 0 10px 0;
    background-image: url('img/bg.png');
    background-size: 100% 100%;
}
.wrapper .screen-box-wrap .col-right .member .member-bd{
    width:290px;
    height:91px;
    /*border-bottom: 1px solid #3c3c3c;*/
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx{
    width:290px;
    text-align: center;
    height: 56px;
    /*border:1px solid black;*/
}
.wrapper .screen-box-wrap .col-right .member-bd .tx img{
    display: inline-block;
    width:50px;
    height: 50px;
    border-radius: 25px;
}
.wrapper .screen-box-wrap .col-right .member-bd .tx a{
    /*border:1px solid black;*/
    display: inline-block;
    width:50px;
    height: 50px;
    
}
.wrapper .screen-box-wrap .col-right .member-bd .hello{
    display: block;
    height:17px;
    line-height:17px;
    text-align: center;
    color:#333;
    font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .member-bd p{
    width: 290px;
    height: 17px;
    text-align: center;
    line-height: 17px;
}
.wrapper .screen-box-wrap .col-right .member-bd p .icon,
.wrapper .screen-box-wrap .col-right .member-bd p .club{
    display: inline-block;
    height: 17px;
    position: relative;
    color:#ff5000;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px 0 20px;
    background: #ffe4db;
    border-radius: 9px;
}
.wrapper .screen-box-wrap .col-right .member-bd .pic{
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
}
.wrapper .screen-box-wrap .col-right .member-bd .icon .pic{
    background-position: 0 -527.5px;
    background: url('img/coin.png') no-repeat;
    background-size: 100% 100%;
}
.wrapper .screen-box-wrap .col-right .member-bd .club .pic{
    background-position: 0 -528px;
    background: url('img/club.png') no-repeat;
    background-size: 100% 100%;
}
.wrapper .screen-box-wrap .col-right .member .member-ft{
    width:290px;
    height:40px;
    text-align: center;
    margin-top: 8px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft a{
    width: 75px;
    height: 25px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    line-height: 25px;
    display: inline-block;
    font-size:14px;
    font-weight: 700;
    border-radius: 4px;
    margin-right: 7px;
    
}
.wrapper .screen-box-wrap .col-right .member .member-ft .login{
    width: 92px;
}
.wrapper .screen-box-wrap .col-right .message{
    width: 290px;
    height: 26px;
    background-color: #ffe4db;

}
.wrapper .screen-box-wrap .col-right .message a{
    color:#ff5000;
    line-height: 26px;
    position: relative;
    padding-left:82px; 
    font-size:12px;
}
.wrapper .screen-box-wrap .col-right .message a span{
    width:0px;
	height:0px;
	border:solid;
	border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
    font-size: 0;
    position: absolute;
    right: -40px;
    top: 4px;
}
.wrapper .screen-box-wrap .col-right .notice{
    width:290px;
    height: 98px;
    padding-top: 10px;
    /*border-bottom:1px solid; */
}
.wrapper .screen-box-wrap .col-right .notice li{
    float: left;
}
.wrapper .screen-box-wrap .col-right .notice .title{
    width: 290px;
    height: 24px;
    margin-top: 4px;
    padding:0 8px;
}
.wrapper .screen-box-wrap .col-right .notice .title li{
    width:32px;
    line-height:20px;
    text-align: center;
    margin: 0 11px; 
    
}
.wrapper .screen-box-wrap .col-right .notice .title li a{
    color: #3c3c3c;
    font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .notice .title li a:hover{
    color:#ff5000;
}
.wrapper .screen-box-wrap .col-right .notice .title .select{
    font-weight: 700;
    border-bottom: 2px solid #f40;
}
.wrapper .screen-box-wrap .col-right .notice .con li{
    width:130px;
    height:25px;
    line-height: 25px;
    font-size: 12px;
    overflow: hidden;
}
.wrapper .screen-box-wrap .col-right .notice .con li a{
    color: #3c3c3c;
}
.wrapper .screen-box-wrap .col-right .notice .con ul{
    margin: 0 12px;
}
.wrapper .screen-box-wrap .col-right .notice .con li a:hover{
    color:#ff5000;
}
.wrapper .screen-box-wrap .col-right .notice .con .select{
    color:#ff5000;
}
.wrapper .screen-box-wrap .col-right .moudle{
    height:228px;
    width:290px;   
    border:1px solid #f4f4f4;
    border-left: none;
}
.wrapper .screen-box-wrap .col-right .moudle li{
    float:left;
    width:71.5px;
    height: 75px;
    border-right:1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle .right{
    float:left;
    width:71.5px;
    height: 75px;
    border-right:1px solid #fff;
    border-bottom: 1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle .bottom{
    float:left;
    width:71.5px;
    height: 75px;
    border-right:1px solid #f4f4f4;
    border-bottom: 1px solid #fff;
}
.wrapper .screen-box-wrap .col-right .moudle .bottom-right{
    float:left;
    width:71.5px;
    height: 75px;
    border-right:1px solid #fff;
    border-bottom: 1px solid #fff;
}
.wrapper .screen-box-wrap .col-right .moudle li a{
    display: block;
    text-align: center;
}
.wrapper .screen-box-wrap .col-right .moudle li p{
    color: #333;
    line-height: 24px;
    padding-top: 1px;
    text-align: center;
    font-size:14px;
}
.wrapper .screen-box-wrap .col-right .moudle li a:hover p{
    color:#ff5000;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic1{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position: 0 0;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic2{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -87px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic3{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -44px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic4{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -132px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic5{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -176px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic6{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -220px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic7{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -264px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic8{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -308px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic9{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -352px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic10{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -396px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic11{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -440px; 
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic12{
    margin-top: 11px;
    display:inline-block;
    width:24px;
    height: 24px;
    background: url('img/pics.png') no-repeat;
    background-position:0px -484px; 
}
.wrapper .screen-box-wrap .col-right .app{
    height: 110px;
    width: 290px;
}
.wrapper .screen-box-wrap .col-right .app h3{
    font-size: 14px;
    height: 30px;
    line-height:30px; 
    padding-left: 14px;
    position: relative;
    color:#3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app h3 a{
    position: absolute;
    right:10px;
    font-size: 12px;
    color:#3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app h3 a:hover{
    color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .app li{
    float: left;
    margin-right: 21px;
    margin-bottom: 8px;
    width:32px;
    height: 32px;
}
.wrapper .screen-box-wrap .col-right .app ul{
    width:290px;
    height: 84px;
    padding-left:23px; 
}
.wrapper .screen-box-wrap .col-right .app li img{
    background-size: 100% 100%;
    width:32px;
    height: 32px;
}